:root {
  --red: #FF4148;
  --blue: #1B1C57;
  --grey: #E0E3EB;
}


body {
  margin: 0;
  font-family: 'IM Fell Great Primer SC', serif;
  font-family: 'Josefin Slab', serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125rem;
  line-height: 1.4;
}

/* =========Fonts========= */
